.main-news{
    margin-bottom: 100px;

}
/* news.css */
.main-section h1{
    color: #cfff45;
}


.new-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* 3 columns for wider screens */
    gap: 50px; /* Space between cards */
    justify-items: center; /* Centers items horizontally */
  }
  
  .card {
    width: 100%; /* Full width inside grid */
    max-width: 300px; /* Optional: limits card width */
    background-color: #2d02db;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .card h2 {
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .card p {
    font-size: 1rem;
    color: white;
    margin-bottom: 10px;
  }
  
  .card a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  