.main-news {
  margin-bottom: 100px;
}
/* news.css */

.main-section-news h1 {
  font-size: 64px;
  font-weight: 800;
  line-height: 1.17;
}
.main-section-news {
  text-align: left;
  margin: 150px 0;
  max-width: 1250px;
  display: flex;
  flex-direction: column;
}
.new-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* 3 columns for wider screens */
  gap: 50px; /* Space between cards */
  justify-items: auto; /* Centers items horizontally */
}

.card {
  width: 100%;
  max-width: 450px;
  background-color: #2d02db;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  color: white;
  justify-content: space-around;
}

.card-date {
  display: flex;
  justify-content: space-between; /* Ensures the date and type are spaced apart */
  width: 100%; /* Takes up full width of the card */
  align-items: center; /* Vertically center date and type */
  margin-top: 10px;
}

.card-date .date, .card-date .type {
  margin: 0; /* Remove default margins */
}

.date {
  display: flex;
  align-items: center;
}

.date .icon {
  margin-right: 5px; /* Adds some space between the icon and the date text */
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card h2 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.card h2:hover{
  cursor: pointer;
}



.card p {
  font-size: 0.8rem;
  color: white;
  margin-bottom: 10px;
}

.card a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
