.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #0b005280;
  border-radius: 32px;
  padding: 24px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px auto;
  max-width: 900px;
  width: calc(100% - 96px);
  z-index: 1000;
}

.header img {
  width: 150px;
}

nav {
  display: flex;
  gap: 40px;
  margin-left: 16px;
}

.nav-menu a {
  font-size: 24px;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.login-btn {
  background-color: #c9ff67;
  border: none;
  border-radius: 16px;
  padding: 16px 32px;
  font-size: 24px;
  font-weight: 700;
  color: black;
  cursor: pointer;
  text-decoration: none;
}