/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #2d02db;
  color: white;
  overflow-x: hidden;
}

.app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 128px;
}

/* Header Styles */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #0b005280;
  border-radius: 32px;
  padding: 24px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px auto;
  max-width: 900px;
  width: calc(100% - 96px);
  z-index: 1000;
}

.header img {
  width: 150px;
}

nav {
  display: flex;
  gap: 40px;
  margin-left: 16px;
}

.nav-menu a {
  font-size: 24px;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.login-btn {
  background-color: #c9ff67;
  border: none;
  border-radius: 16px;
  padding: 16px 32px;
  font-size: 24px;
  font-weight: 700;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.main-section {
  text-align: left;
  margin: 150px 0;
  max-width: 800px;
}

.main-section h1 {
  font-size: 64px;
  font-weight: 800;
  line-height: 1.17;
}

.main-section p {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  margin: 24px 0;
}

.main-btn {
  background-color: #005aec;
  border: none;
  border-radius: 16px;
  padding: 16px 32px;
  font-size: 24px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}

.pricing-section {
  text-align: left;
  margin: 100px 0;
  max-width: 1200px;
}

.pricing-section h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  line-height: 42.19px;
}

.pricing-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  gap: 5px;
}

.pricing-card {
  background-color: #061128;
  border-radius: 24px;
  padding: 30px;
  width: 300px;
}

.pricing-card h3 {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}

.pricing-card p {
  font-size: 20px;
  font-weight: 800;
  margin: 24px 0;
  line-height: 1.17;
}

.pricing-card ul {
  list-style: circle;
  padding: 0;
  margin: 0 0 24px;
  font-size: 16px;
  line-height: 20px;
  margin-left: 20px;
}

.pricing-btn {
  background-color: #005aec;
  border: none;
  border-radius: 16px;
  padding: 16px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  width: 100%;
  cursor: pointer;
}

.certificates {
  text-align: center;
  margin: 100px 0;
}

.certificates h2 {
  font-size: 96px;
  font-weight: 600;
  color: #cfff45;
}

.certificates img {
  width: 100%;
}

.footer {
  background-color: #061128;
  color: white;
  padding: 48px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1440px;
}

.footer-subscribe {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding-bottom: 32px;
  border-bottom: 1px solid #fff;
  margin-bottom: 32px;
  font-size: 16px;
}

.footer-subscribe h3 {
  flex: 1;
  gap: 10px;
}

.footer-subscribe input {
  background-color: #d9d9d9;
  border: none;
  border-radius: 16px;
  padding: 16px;
  font-size: 16px;
  margin-right: 16px;
  flex: 1;
}

.footer-subscribe button {
  background-color: #005aec;
  border: none;
  border-radius: 16px;
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1040px;
}

.footer-column {
  width: 20%;
}

.footer-column h3 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 0;
}

.footer-column p,
.footer-column a {
  font-size: 24px;
  font-weight: 400;
  margin: 8px 0;
  color: white;
  text-decoration: none;
}

.footer-column .social-icons {
  display: flex;
  gap: 16px;
}

.footer-column .social-icons img {
  width: 32px;
  height: 32px;
}
