.main-section {
    text-align: left;
    margin: 150px 0;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

.main-section h1 {
    font-size: 50px;
    font-weight: 800;
    line-height: 1.17;
    width: 800px;
}

.main-section p {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.17;
    margin: 24px 0;
}
.main-section a {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.17;
    margin: 24px 0;
    color: white !important;
    text-decoration: none;
}

.main-btn {
    background-color: #005aec;
    border: none;
    border-radius: 16px;
    padding: 16px 32px;
    font-size: 24px;
    font-weight: 700;
    color: white;
    cursor: pointer;
}


.certificates {
    text-align: center;
    margin: 100px 0;
}

.certificates h2 {
    font-size: 96px;
    font-weight: 600;
    color: #cfff45;
}

.certificates img {
    width: 100%;
}
